.slideshow-container {
  position: relative;
  background: #ddd;
}


.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: 350px;
  padding:px;
  color: #888;
  font-weight: bold;
  font-size: 40px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  margin-left: 600px;


}

.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
  margin-right: 600px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}








